<html>
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Adicionando o CSS do Bootstrap -->
    <link rel="stylesheet" href="/src/css/stackpath.bootstrapcdn.com_bootstrap_4.3.1_css_bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->
    
</head>

    <body>
        <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
            <form>
                Usuario:<input type="text" id="usuario">
                <br>
                Senha:<input type="text" id="senha">
                <br>
                <input type="submit" value="ENTRAR">
            </form>
        </div>

        <script src="/src/js/cdnjs.cloudflare.com_ajax_libs_popper.js_1.12.9_umd_popper.min.js"></script>
        <script src="/src/js/maxcdn.bootstrapcdn.com_bootstrap_4.0.0_js_bootstrap.min.js"></script>
        <script src="/src/js/cliente.js"></script>
        <script src="/src/js/venda.js"></script>
    </body>
</html>