<%- include('header') %>


      <ul>
        <% for(let i = 0;i<lista.length;i++) { %>
           <li> <%=lista[i].nome%> </li>
        
        <% } %>
      </ul>
        
        

    </body>
</html>
        

