<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      
    />
    <meta property="og:title" content="Título da página" />
    <meta property="og:description" content="Descrição da página" />
    <meta property="og:image" content="URL da imagem em destaque" />
    <meta property="og:url" content="URL da página" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/src/css/maxcdn.bootstrapcdn.com_bootstrap_4.0.0_css_bootstrap.min.css" />

    <title>Gerenciamento de Vendas</title>
    <!-- Adicionando o CSS do Bootstrap -->
   
  </head>
  <body>

    <!-- ABRE O WHATSAPP E ENVIA OQUE ESTÁ NA VARIAVEL 'mensagem'-->
    <script>
      function exibirMenuCompartilhamento() {
        var mensagem = 'Confira este relatório: ' + window.location.href;
        var url = 'https://api.whatsapp.com/send?text=' + encodeURIComponent(mensagem);
        window.open(url);
      }
    </script>
    
    <!-- ICONE DE COMPARTILHAMENTO-->
    <a href="#" onclick="exibirMenuCompartilhamento()">ESCOLHER QUAL CONTATO
      <i class="fas fa-share"></i>
    </a>
    <br>

    <a href="https://api.whatsapp.com/send?phone=55032988716047">JA ABRE NA CONVERSA DE UM CONTATO ESPECIFICO
      <i class="fas fa-share"></i>
    </a>
    <br>

    
    <style>
      .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
      }
      body {
        padding-top: 80px; /* Altura da navbar */
      }
    </style>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/home">INICIO</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="/clientes"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              CLIENTES
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/clientes">LISTA DE CLIENTES</a>
              <a class="dropdown-item" href="/add">CADASTRAR CLIENTE</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              PRODUTOS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/produtos">LISTA DE PRODUTOS</a>
              <a class="dropdown-item" href="/addProdutos"
                >CADASTRAR PRODUTOS</a
              >
            </div>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              VENDAS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/venda">VENDER</a>
              <a class="dropdown-item" href="/venda_carrinho"
                >VENDER-CARRINHO</a
              >
              <a class="dropdown-item" href="/historico_vendas"
                >HISTÓRICO DE VENDAS</a
              >
            </div>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              RELATÓRIOS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/relvendas">REL. VENDAS</a>
              <a class="dropdown-item" href="/rel_cliente_mais_comprou"
                >REL. CLIENTE MAIS COMPROU</a
              >
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/teste">TESTE</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Pesquisar"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Pesquisar
          </button>
        </form>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <a href="/clientes">
            <img
              title="Clientes"
              src="/src/pictures/clientes.png"
              width="50"
              height="50"
            />CLIENTES
          </a>
        </div>

        <div class="col-xs-6 col-sm-3">
          <a href="/clientes/create">
            <img
              title="Cadastro de Clientes"
              src="/src/pictures/cadastro.png"
              width="50"
              height="50"
            />CAD. CLIENTES
          </a>
        </div>

        <div class="col-xs-6 col-sm-3">
          <a href="/produtos">
            <img
              title="Produtos"
              src="./src/pictures/prateleira.png"
              width="50"
              height="50"
            />PRODUTOS
          </a>
        </div>

        <div class="col-xs-6 col-sm-3">
          <a href="/produtos/create">
            <img
              title="Cadastro de Produtos"
              src="./src/pictures/cadastro_produto.png"
              width="50"
              height="50"
            />CAD.PRODUTOS
          </a>
        </div>

        <!--CODIGO ANTIGO
      <div class="col-xs-6 col-sm-3">
        <a href="/venda">
          <img  title="Venda" src="./pctures/mais-vendidos.png" width="50" height="50">VENDA
        </a>
      </div>

      <div class="col-xs-6 col-sm-3">
        <a href="/historico_vendas">
          <img  title="Venda" src="./pctures/historico-vendas.png" width="50" height="50">HISTÓRICO DE VENDAS
        </a>
      </div>

      <div class="col-xs-6 col-sm-3">
        <a href="/relVendas">
          <img  title="Venda" src="./pctures/relatorio.png" width="50" height="50">HISTÓRICO DE VENDAS- PERIODO
        </a>
      </div>
      -->

        <div class="col-xs-6 col-sm-3">
          <a href="/venda/formMaioresVendasPeriodo">
            <img
              title="Venda"
              src="./src/pictures/crescimento.png"
              width="50"
              height="50"
            />REL. MAIORES VENDAS PERIODO - EXIBE PDF
          </a>
        </div>

        <div class="col-xs-6 col-sm-3">
          <a href="/venda">
            <img
              title="Venda"
              src="./src/pictures/carrinho.png"
              width="50"
              height="50"
            />VENDA-CARRINHO
          </a>
        </div>

        <div class="col-xs-6 col-sm-3">
          <a href="/venda/historicoVendas" target="_self">
            <img
              title="Venda"
              src="./src/pictures/historico_carrinho.png"
              width="50"
              height="50"
            />HISTORICO-VENDA-CARRINHO
          </a>
        </div>

        <div class="col-xs-6 col-sm-3">
          <a href="/venda/detalhesTodasVendas">
            <img
              title="Venda"
              src="./src/pictures/lista_compras.png"
              width="50"
              height="50"
            />DETALHES TODAS AS VENDAS
          </a>
        </div>

        <div class="col-xs-6 col-sm-3">
          <a href="/venda/formVendasPeriodo">
            <img
              title="Venda"
              src="/src/pictures/calendario.png"
              width="50"
              height="50"
            />HISTORICO VENDAS CARRINHO - PERIODO
          </a>
        </div>

        <div class="col-xs-6 col-sm-3">
          <a href="/clientes/formClienteMaisComprou">
            <img
              title="Venda"
              src="/src/pictures/cliente_mais_comprou.png"
              width="50"
              height="50"
            />REL. CLIENTES MAIS COMPRARAM POR PERIODO - EXIBE PDF
          </a>
        </div>

        <div class="col-xs-6 col-sm-3">
          <a href="/venda/formProdutosMaisVendidosPeriodo">
            <img
              title="Venda"
              src="/src/pictures/revisao-do-produto.png"
              width="50"
              height="50"
            />REL. PRODUTOS MAIS VENDIDOS - PERIODO - EXIBE PDF
          </a>
        </div>

        <div class="col-xs-6 col-sm-3">
          <a href="/shopping_cart/">
            <img
              title="Venda"
              src="/src/pictures/shopping-cart.png"
              width="50"
              height="50"
            />SHOPPING CART
          </a>
        </div>
        <br />
        <a href="/venda/testelista">TESTE LISTA</a>
      </div>
    </div>

    <!-- Adicionando o JS do Bootstrap -->
    <script src="/src/js/code.jquery.com_jquery-3.3.1.slim.min.js"></script>
    <script src="/src/js/cdnjs.cloudflare.com_ajax_libs_popper.js_1.12.9_umd_popper.min.js"></script>
    <script src="/src/js/stackpath.bootstrapcdn.com_bootstrap_4.3.1_js_bootstrap.min.js"></script>
  </body>
</html>
